<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DalManagerType" value="iCodify.DalMock.DalManager,iCodify.DalMock"/>
        <!--<add key="DalManagerType" value="FuelLog.DalSQLite.DalManager,FuelLog.DalSQLite"/>-->
        <!--<add key="DalManagerType" value="FuelLog.DalEf.DalManager,FuelLog.DalEf" />-->
    </appSettings>
</configuration>